.promo {
  height: 100vh;
  position: relative;
  min-height: 800px;
  background: url('../img/main_bg.jpg') 75%/cover no-repeat;

  .hamburger {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    top: 20px;
    right: 30px;
    width: 36px;
    height: 21px;
    cursor: pointer;
    hr {
      width: 30px;
      height:3px;
      border: none;
      background: #151812;

    }
    .long {
      width: 36px;
      height: 3px;
      background: #151812;
    }
  }
  &__subtitle {
    position: relative;
    padding-left: 10px;
    z-index: 1;
    @include promo_circle;
  }
  &__links {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    :hover {
      color: $hover-color;
      text-decoration: none;
    } 
    a {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: #000000;
    }
    &_link {
      display: block;
    }
  }
  &__social {
    position: fixed;
    top: 385px;
    left: -120px;
    transform: rotate(-90deg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    color: #000000;
   
    &__text {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
    }
    hr {
      width: 70px;
      height: 2px;
      background: #000;
      border: none;
    }
    &__icons {
      display: flex;
      justify-content: space-between;
      width: 90px;
      &__link {
        &:hover {
          svg g {
            fill: $hover-color;
              
            }
            
          }
        transition: all 0.6s;
      }
      }
    
    } 
  &__subtitle  {
      padding-top: 206px;
  }     
    
  };


